<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--The icon on the top of the page, next to the title-->
    <link rel="shortcut icon" type="image/png" href="../images/man1.jpg"/>
    <!--The title of the website, shown next to the image shortcut -->
    <title>Vingt -- email Kopie</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button2 {border-radius: 4px;}

        .button2 {
            background-color: #008CBA;
            color: white;
            border: 2px solid #008CBA;
        }

        .button2:hover {
            background-color: white;
            color: black;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="black"
                        style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <h1 style="color: yellow">Vingt</h1>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                    <b>Uitschrijven proeverij: <%= aanmelder.proeverijName %></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    Beste <%= aanmelder.name %>, <br>
                                    Wij vinden het heel jammer u te moeten zien gaan. Kunnen wij niet iets anders voor u
                                    betekenen? Laat het ons weten via het <a href="/contact">contact</a> formulier.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    We vragen u vriendelijk uw afmelding te bevestigen. U blijft namelijk ingeschreven
                                    als u dit niet bevestigt.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://192.168.1.120:3000/confirmSignOut?<%= link %>">
                                        <button style="width: 100%" type="button" class="button button2">Meld me af voor
                                            '<%= aanmelder.proeverijName %>'
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Met vriendelijke groet,
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &mdash; Vingt
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="black" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
                                    width="75%">
                                    &reg;2017 Copyright Vingt.nl <br/>
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="http://www.twitter.com/" style="color: #ffffff;">
                                                    <img src="images/tw.gif" alt="Twitter" width="38" height="38"
                                                         style="display: block;" border="0"/>
                                                </a>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="http://www.twitter.com/" style="color: #ffffff;">
                                                    <img src="images/fb.gif" alt="Facebook" width="38" height="38"
                                                         style="display: block;" border="0"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>